body {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, $main-section-width) 1fr;
  grid-template-rows: 1fr minmax(min-content, 64px);
  grid-template-areas: 'content content content' 'footer footer footer';

  section[role='main'] {
    grid-area: content;
  }

  footer {
    grid-area: footer;
  }
}
