#main-content {
  // some wp plugin is trying to give `#main-content` padding of 94px.
  // Thus casting an !important here. Sorry.
  padding-top: 0 !important;
}

.gdpr-pop {
  width: 100%;
  height: 150px;
  background-color: $color-darkgray;
  position: fixed;
  right: 0;
  bottom: 0;
  display: none;
  text-align: center;
  z-index: 200;
  .gdpr-text {
    color: white;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }
  .gdpr-button {
    width: 10%;
    height: auto;
    font-size: 1rem;
    margin-top: 0.4rem;
    padding: 10px;
    background-color: $color-lightgray;
    @include breakpoint(xs) {
      width: 40%;
    }
  }
}
