@import 'breakpoints';

.main-content-grid {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, $main-section-width) 1fr;
  grid-template-rows: repeat(min-content);
  @include breakpoint(xs) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .block {
    grid-column-start: 2;
    @include breakpoint(xs) {
      grid-column-start: 1;
    }
  }

  .full-width-block {
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 4rem 0;

    &.no-margin {
      margin: 0;
    }
    &.whitesmoke {
      background-color: $color-lightgray;
    }

    &.gray {
      background-color: $color-darkgray;
      color: white;
    }
  }
}
