.footer {
  width: 100%;
  background-color: #282727;
  overflow: hidden;
  margin: 0;
  grid-row-start: 2;
  grid-row-end: 3;
  .navfoot-container {
    max-width: $main-section-width;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-template-rows: min-content min-content;
    padding-left: 10px;
    li {
      font-size: 2rem;
      color: white;
    }
    a {
      color: white;
    }
    .social-icons {
      display: flex;
      align-items: flex-end;
      .fa {
        color: white;
        font-size: 2.5rem;
        padding: 10px;
        @include breakpoint(xs) {
          font-size: 1.7rem;
        }
      }
      @include breakpoint(xs) {
        grid-row-start: 2;
      }
    }
    .stadi-logo {
      display: block;
      height: 150px;
      width: 150px;
    }
  }
}
