@import 'breakpoints';
.navfoot-container {
  padding: 20px;
  left: 30%;
  margin: 0;
  padding-left: 200px;
  @include breakpoint(xs) {
    left: 0%;
  }
}

.navfoot-container li {
  font-size: 2rem;
  color: white;
}

.navfoot-container a {
  color: white;
}

.footer {
  width: 100%;
  height: 500px;
  border: 1px solid black;
  position: relative;
  background-color: #282727;
  overflow: hidden;
  margin: 0;
  grid-row-start: 2;
  grid-row-end: 3;
}

.social-icons {
  position: relative;
  left: 80%;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 20%;
  @include breakpoint(xs) {
    left: 50%;
  }
  @include breakpoint(sm) {
    left: 70%;
  }
  .fa {
    color: white;
    font-size: 2.5rem;
    padding: 10px;
  }
}

.icon {
  width: 50px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.stadi-logo {
  display: block;
  height: 150px;
  width: 150px;
}
