.greystripefail{
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
    top:590px;
    z-index: -10;
  }
  
  
  .grey-block {
    grid-column-start: 1;
    grid-column-end: 4;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height:120vh;
    transform: skewY(7deg);
    width:50%;
    top:130px;
    z-index: 4;
    background-color: lightgray;
    &.black-to-white {
      background-color: grey;
      color: white;
  
      .stripe-block-stripe {
        background-color: grey;
      }
    }
  
  
    .grey-stripe-block-content-wrapper {
      width: 100px;
      margin-bottom: 200px;
      z-index: 3;
      position: relative;
      top:25%;
    }
  
   
    
  }
  .grey-block1 {
    grid-column-start: 1;
    grid-column-end: 7;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: skewY(-7deg);
    width:50%;
    left:50%;
    top:130px;
    height:120vh;
    background-color: lightgray;
   z-index: 4;
    &.black-to-white {
      background-color:grey;
      color: white;
  
      .stripe-block-stripe {
        background-color: grey;
      }
    }
   
  
    
  
    
  }

  .ict{
    background-color: black;
  }

  @media only screen and (max-width: 600px){

    .greystripefail{
      grid-column-start: 1;
      grid-column-end: 4;
      position: relative;
      top:250vh;
      z-index: -10;
      width:102%;
    }
    
    
    .grey-block {
      grid-column-start: 1;
      grid-column-end: 4;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height:330vh;
      transform: skewY(7deg);
      width:50%;
      top:130px;
      z-index: 4;
      background-color: lightgray;
      &.black-to-white {
        background-color: grey;
        color: white;
    
        .stripe-block-stripe {
          background-color: grey;
        }
      }
    
    
      .grey-stripe-block-content-wrapper {
        width: 100px;
        margin-bottom: 200px;
        z-index: 3;
        position: relative;
        top:25%;
      }
    
     
      
    }
    .grey-block1 {
      grid-column-start: 1;
      grid-column-end: 7;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transform: skewY(-7deg);
      width:50%;
      left:50%;
      top:130px;
      height:330vh;
      background-color: lightgray;
     z-index: 4;
      &.black-to-white {
        background-color:grey;
        color: white;
    
        .stripe-block-stripe {
          background-color: grey;
        }
      }
     
    
      
    
      
    }
  

  }