@import 'breakpoints';
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  z-index: 200;
  @include breakpoint(xs) {
    display: none;
  }
  .logo-container {
    g.logo-group {
      fill: white;
    }
  }
  .header-text {
    display: none;
    color: white;
    font-size: 1.4rem;
    padding-left: 2rem;
  }
  .nav-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    flex: 1;
    ul {
      li {
        display: inline-block;
        a {
          color: white;
          font-weight: bold;
          padding: 0.5rem;
        }
      }
    }
  }
  .nav-container > ul > li > ul {
    display: none;
    height: auto;
    transition: height 5s ease;
  }
  .nav-container > ul > li:nth-child(3):hover {
    ul {
      position: absolute;
      display: list-item;
      width: 120px;
      background-color: black;
      li {
        margin: 0.2rem;
      }
    }
  }
  .nav-container > ul > li:nth-child(4) {
    margin-left: 2.4rem;
  }
}
