@import 'breakpoints';
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  z-index: 200;
  .menu-item-has-children {
    a:after {
      content: '\25BC';
    }
    a:only-child:after {
      content: '';
    }
  }
  &.above {
    background-color: transparent;
    padding: 1rem 2rem;
    transition: padding 0.3s ease-out;
  }
  &.below {
    background-color: $color-black;
    padding: 1rem 3rem;
    transition: padding 0.15s ease-out;
  }
  @include breakpoint(sm) {
    padding: 0.5rem 1rem;
  } // @include breakpoint(xs) {
  //   display: none;
  // }
  .logo-container {
    g.logo-group {
      fill: white;
    }
  }
  .nav-container {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    ul {
      li {
        display: inline-block;
        a {
          color: white;
          font-weight: bold;
          padding: 0.5rem;
          font-size: 1.4rem;
          line-height: 0.9rem;
        }
      }
    }
  }
  .header-background-cover {
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    background-position: 0px 50%;
    z-index: -1;
  }
}

.nav-container {
  text-transform: uppercase; // applies to lang-item and menu-item
  .current_page_item:not(.lang-item) a,
  .current-menu-item:not(.lang-item) a {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 9px;
      right: 0;
      left: 0;
      box-shadow: 0 4px rgba(255, 255, 255, 0.8) !important;
      @include breakpoint(md) {
        bottom: 4px;
      }
      @include breakpoint(xs) {
        bottom: 0px;
      }
    }
  }
  .hamburger-container {
    display: none;
    @include breakpoint(sm) {
      display: block;
    }
    @include breakpoint(md) {
      display: block;
    }
    @include breakpoint(xs) {
      display: block;
    }
    i {
      color: $color-white;
      font-size: 1.5rem;
    }
  }
  .nav-ul {
    .close-button {
      display: none;
    }
    @include breakpoint(xs) {
      display: none;
    }
    > .lang-item {
      margin-left: 2rem;
      opacity: 0.7;
      border-left: 3px solid rgba(255, 255, 255, 0.8);
      padding-left: 1rem;
      margin: 0.2rem;
      > .lang-item:first-child {
        padding-left: 20px;
      }
      ~ .lang-item {
        margin-left: 0;
        border-left: none;
        padding-left: 0rem;
        margin-top: 0rem;
        @include breakpoint(md) {
          margin-left: 1rem;
        }
        @include breakpoint(sm) {
          margin-left: 1rem;
          margin: 0.2rem;
        }
      }
      ~ .lang-item:first-of-type {
        padding-left: 200px;
      }
    }
    &.child {
      display: none;
      position: absolute;
      flex-direction: column;
      border-radius: 3px;
      padding: 1rem 0;
      background-color: $color-white;
      box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.3),
        inset 0 0 0 1px rgba(0, 0, 0, 0.08);
      @include breakpoint(md) {
        display: block;
        position: relative;
        box-shadow: initial;
        background-color: initial;
        padding: 0;
      }
      @include breakpoint(sm) {
        display: block;
        position: relative;
        box-shadow: initial;
        padding: 0;
      }
      @include breakpoint(xs) {
        display: block;
        position: relative;
        box-shadow: initial;
        padding: 0;
      }
      * {
        color: $color-black;
        @include breakpoint(md) {
          color: $color-white;
        }
        @include breakpoint(sm) {
          color: $color-white;
        }
        @include breakpoint(xs) {
          color: $color-white;
        }
      }
      li {
        display: flex !important;
        text-align: right;
        @include breakpoint(md) {
          text-align: left;
        }
        @include breakpoint(sm) {
          text-align: left;
        }
        @include breakpoint(xs) {
          text-align: left;
        }
        a {
          width: 100%;
          padding: 0.5rem 1.8rem;
          @include breakpoint(md) {
            padding: 0rem;
          }
          @include breakpoint(sm) {
          }
          @include breakpoint(xs) {
            padding: 0rem;
          }
          &:hover {
            background-color: dt-color('secondary');
            color: $color-white;
            @include breakpoint(md) {
              background-color: initial;
            }
            @include breakpoint(sm) {
              background-color: initial;
            }
            @include breakpoint(xs) {
              background-color: initial;
            }
          }
        }
      }
    }
    .nub {
      display: none;
      border: 0 solid transparent;
      border-bottom-color: white;
      position: absolute;
      z-index: 201;
    }
  }
}

body {
  @mixin currentLang() {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 9px;
      right: 0;
      left: 0;
      box-shadow: 0 4px rgba(255, 255, 255, 0.8);
      @include breakpoint(md) {
        bottom: 4px;
      }
      @include breakpoint(xs) {
        bottom: 0px;
      }
    }
  }
  &[class*='fi'] {
    .lang-item-fi a {
      @include currentLang();
    }
  }
  &[class*='sv-SE'] {
    .lang-item-sv a {
      @include currentLang();
    }
  }
  &[class*='en-US'] {
    .lang-item-en a {
      @include currentLang();
    }
  }
}

/* mobile nav */

.nav-ul {
  @mixin mobileNavDefaults() {
    display: none;
    &.active {
      padding-left: 2rem;
      display: flex;
      position: fixed;
      top: 0;
      bottom: 0;
      background-color: rgba($color-darkgray, 0.74);
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      .close-button {
        display: block;
        color: $color-white;
        position: absolute;
        top: 17px;
        right: 31px;
        font-size: 2rem;
        @include breakpoint(md) {
          right: 49px;
        }
      }
      .social-container-mobile {
        display: block !important;
        width: 50%;
        align-self: end;
      }
      li {
        &:not(.menu-item-has-children) {
          padding: 0.4rem 2rem;
        }
        a {
          font-size: 2rem;
          padding: 0;
          line-height: 1;
        }
      }
      .lang-item {
        border-left: initial;
      }
    }
    .menu-item-has-children {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: 2rem 0;
      > a {
        display: none;
      }
      .child.mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: static !important;
      }
    }
    .social-container-mobile {
      display: none;
      position: relative;
      top: -2.8rem;
      a {
        color: white;
        font-size: 2rem;
        &:not(:last-of-type) {
          margin-right: 1rem;
        }
      } // display: none;
      // margin-top: 26rem;
      // margin-left: -3rem;
      // position: absolute;
      // @include breakpoint(md) {
      //   margin-left: 5rem;
      //   margin-top: 30rem;
      //   font-size: 2rem;
      // }
      // @include breakpoint(sm) {
      //   margin-left: 4rem;
      //   margin-top: 30rem;
      // }
      // @include breakpoint(xs) {
      //   margin-left: -3rem;
      //   margin-top: 26rem;
      // }
      // a {
      //   color: white;
      //   padding: 0;
      // }
    }
  }
  @include breakpoint(md) {
    @include mobileNavDefaults();
  }
  @include breakpoint(sm) {
    @include mobileNavDefaults();
  }
  @include breakpoint(xs) {
    @include mobileNavDefaults();
    width: 100vw;
  }
  .nub.mobile {
    display: none !important;
  }
}

// .nav-ul {
//   .nub.mobile {
//     display: none !important;
//   }
//   &.child.mobile {
//     position: static !important;
//     display: block !important;
//   }
// }
