@import 'breakpoints';
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  z-index: 200;
  &.above {
    background-color: transparent;
    padding: 1rem 2rem;
    transition: padding 0.3s ease-out;
  }
  &.below {
    background-color: $color-black;
    padding: 1rem 3rem;
    transition: padding 0.15s ease-out;
  }
  @include breakpoint(sm) {
    padding: 0.5rem 1rem;
  }
  @include breakpoint(xs) {
    display: none;
  }
  .logo-container {
    g.logo-group {
      fill: white;
    }
  }
  .header-text {
    display: none;
    opacity: 0;
    color: white;
    font-size: 1.4rem;
    padding-left: 1rem;
    text-align: center;
    list-style: none;
    @include breakpoint(sm) {
      padding-left: 0.5rem;
      font-size: 1rem;
    }
    @include breakpoint(xs) {
    }
    span {
      display: block;
      font-size: 0.8rem;
      text-align: center;
      line-height: 0.8;
      text-transform: uppercase;
    }
  }
  .nav-container {
    display: flex;
    justify-content: flex-end;
    padding-right: 1em;
    flex: 1;
    ul {
      li {
        display: inline-block;
        a {
          color: white;
          font-weight: bold;
          padding: 0.5rem;
          @include breakpoint(sm) {
            padding: 0.4rem;
          }
        }
      }
    }
  }
  .header-background-cover {
    background-size: cover;
    position: absolute;
    background-attachment: fixed;
    height: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.6;
    background-position: 0px 50%;
    z-index: -1;
  }
}

.nav-container {
  .nav-ul {
    > .lang-item {
      margin-left: 2rem;
      opacity: 0.7;
      @include breakpoint(sm) {
        margin-left: 1rem;
      }
      ~ .lang-item {
        margin-left: 0;
      }
    }
    &.child {
      display: none;
      position: absolute;
      flex-direction: column;
      border-radius: 3px;
      padding: 1rem 0;
      background-color: $color-white;
      box-shadow: 0 6px 8px -4px rgba(0, 0, 0, 0.3),
        inset 0 0 0 1px rgba(0, 0, 0, 0.08);
      * {
        color: $color-black;
        font-weight: normal;
      }
      li {
        display: flex !important;
        text-align: right;
        a {
          width: 100%;
          padding: 0.5rem 1.8rem;
          &:hover {
            background-color: dt-color('secondary');
            color: $color-white;
          }
        }
      }
    }
    .nub {
      display: none;
      border: 0 solid transparent;
      border-bottom-color: white;
      position: absolute;
      z-index: 201;
    }
  }
}
