.job-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 4rem;
  grid-column-start: 2;
  padding-top: 80px;
  padding-bottom: 40px;
  @include breakpoint(md) {
    grid-gap: 1rem;
  }
  @include breakpoint(xs) {
    grid-template-columns: 1fr;
    grid-column-start: 1;
  }
}

.job-blocks {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  @include breakpoint(md) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}

.job-title {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
