.job-accordion-container {
  background-color: white;
  padding: 0rem 1rem 1rem 1rem;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.15);
  margin: 1rem 0;
  transition: all 0.15s ease-out;

  button {
    outline: none;
    background-color: transparent;
    color: black;
    font-size: 1rem;
    padding: 0;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 0;
    span {
      svg {
        height: 0.7rem;
        path {
          fill: black;
        }
      }
    }
  }

  .job-description {
    padding-bottom: 1rem;
  }
}
