.jobstripefail{
    grid-column-start: 1;
    grid-column-end: 4;
    position: relative;
    top:570px;
    z-index: -10;
  }
  .testbox1{
    width:100px;
    height:100px;
    background-color:pink;
    display:grid;
    grid-row-start:3;
  grid-row-end:3;
  }
  
  
  .job-block {
    
    position: absolute;
  
    grid-column-start: 2;
    grid-auto-rows: minmax(100px, auto);
    height:100%;
    transform: skewY(7deg);
    width:100%;
    top:155vh;
    z-index: -1;
    background-color: lightgray;
    &.black-to-white {
      background-color: grey;
      color: white;
  
      .stripe-block-stripe {
        background-color: grey;
      }
    }
  
  
  
   
    
  }
  .job-block1 {
    
    
   position: absolute;
  
  
   grid-auto-rows: minmax(100px, auto);
   
    overflow: hidden;
    transform: skewY(-7deg);
    width:100%;
    
    margin-right:0;
    top:155vh;
    height:100%;
    background-color: lightgray;
   z-index: -1;
    &.black-to-white {
      background-color:grey;
      color: white;
  
      .stripe-block-stripe {
        background-color: grey;
      }
    }
   
  
    
  
    
  }
  .grey-bg{
    background-color:lightgrey;
    width:100%;
    height:100%;
   
    border:solid 2px black;
   
    grid-column-start:1;
   
    
  }
  .grey-bg1{
    background-color:lightgrey;
    width:100%;
    height:100%;
   
    border:solid 2px black;
   
    grid-column-start:2;
   
    
  }
 
  .acc-con{
    display:grid;
    grid-template-columns:1fr;
    grid-column-start: 2;
    position: relative;
    padding-bottom: 100px;
    padding-top:100px;
  }

  .acc-container{
    position: relative;
    
  }

  .accordion {
    background-color:white;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
   margin-top:20px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}