.leader-blocks-grid {
  display: grid;
  grid-template-columns: 340px 340px;
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 1.5rem;
  column-gap: 6rem;
  @include breakpoint(sm) {
    column-gap: 2rem;
  }
  @include breakpoint(xs) {
    grid-template-columns: 1fr;
  }
}

.leader-box {
  width: 320px;
  padding: 1rem 0;
  justify-self: center;
  @include breakpoint(sm) {
    width: 250px;
  }
  .leader-cube {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background-color: $color-darkgray;
    display: inline-block;
    position: absolute;
    margin-left: -1.8rem;
  }
  @include breakpoint(xs) {
    height: 240px;
  }
  .leader-thumb-container {
    margin-bottom: 1rem;
    .leader-thumbnail {
      border-radius: 50%;
      width: 10rem;
      height: 10rem;
      display: block;
      margin: 0 auto;
      background-size: cover;
    }
  }
  .leader-text {
    text-align: left;
    @include breakpoint(xs) {
      text-align: center;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 800;
      text-transform: uppercase;
      display: inline-block;
    }
    .vcard {
      text-decoration: underline;
      color: black;
    }
    span {
      display: block;
      font-size: 1.2rem;
      &.job-title {
        font-weight: bold;
        margin-bottom: 1rem;
      }
      &.email {
        text-transform: lowercase;
        a {
          color: $color-black;
          text-decoration: underline;
        }
      }
      &.email,
      &.phone-number {
        font-size: 0.95rem;
      }
    }
    @include breakpoint(sm) {
      font-size: 1.2rem;
    }
  }
}
