.leader-blocks-grid {
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  @include breakpoint(xs) {
    grid-template-columns: 1fr;
  }
}

.leader-box {
  width: 320px;
  padding: 1rem 0;
  justify-self: center;
  @include breakpoint(xs) {
    height: 345px;
  }
  .leader-thumb-container {
    margin-bottom: 2rem;
    .leader-thumbnail {
      width: 10rem;
      height: 10rem;
      display: block;
      margin: 0 auto;
      background-size: cover;
    }
  }
  .leader-text {
    text-align: center;
    h3 {
      font-size: 1.5rem;
      font-weight: 800;
      text-transform: uppercase;
    }
    span {
      display: block;
      font-size: 1.2rem;
      &.job-title {
        font-weight: bold;
        margin-bottom: 1rem;
      }
      &.email {
        text-transform: lowercase;
        a {
          color: $color-black;
          text-decoration: underline;
        }
      }
      &.email,
      &.phone-number {
        font-size: 0.95rem;
      }
    }
    @include breakpoint(sm) {
      font-size: 1.2rem;
    }
  }
}
