.leader-blocks-grid {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-gap: 5rem 5rem;
  position: relative;
  bottom:-90vh;
  width:100%;
  height:100%;
  justify-items: center;

}

.leader-box{
  width:320px;
  height:400px;
  justify-content: center;
  
  
 
}
.leader-thumb-container{
  height:80%;



  .leader-thumbnail{
  height:100%;
  width:100%;
  background-position: center;
        background-size: cover;
  }
  
}
.leader-text{
  text-align: center;
  h3{
    font-size:1.5rem;
    font-weight: 800;
    text-transform: uppercase;
  }
}


@media only screen and (max-width: 600px){

  .leader-blocks-grid {
    display: grid;
    grid-template-columns:1fr;
    grid-row-gap: -200px;
    position: relative;
    bottom:-280vh;
    width:20%;
    height:100%;
    justify-items: left;
    padding-left:50px;
    padding-bottom: -50px;
  }
  
  .leader-box{
    width:320px;
    height:300px;
    justify-content: center;
    display:block;
    
   
  }
  .leader-thumb-container{
    height:100%;
  
  
  
    .leader-thumbnail{
    height:50%;
    width:50%;
    margin-left:auto;
    margin-right:auto;
   position: relative;
   top:30%;
    }
    
  }
  .leader-text{
    text-align: center;
    h3{
      font-size:1.5rem;
      font-weight: 800;
      text-transform: uppercase;
    }
  }
  
  

}
















