@import 'breakpoints';
$hero-height: 100vh;
.main-hero {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: $color-black;
  height: 100vh;
  overflow: hidden;
  @include breakpoint(xs) {
    height: 90%;
  }
  .hero-background-image {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.9;
    background-attachment: fixed;
    opacity: 0.7;
  }
  .hero-text-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    .hero-text-container {
      display: inline-block;
      width: 720px;
      color: white;
      line-height: 1;
      text-align: center;
      opacity: 0;
      animation: herotext_fadein 0.3s ease-out 0.1s forwards;
      font-size: 2.2rem;
      text-shadow: 2px 2px black;
      @include breakpoint(xs) {
      }
      h1,
      h2,
      h3 {
        font-size: 2.2rem;
        font-weight: 800;
        margin-block-end: 2rem;
        @include breakpoint(xs) {
          font-size: 40px;
          font-weight: 600;
        }
      }
      p {
        font-weight: 500;
        font-size: 2.3rem;
        margin-block-start: 1rem;
        margin-block-end: 1rem;
        line-height: 1.4;
        @include breakpoint(xs) {
          font-weight: 300;
          font-size: 16px;
          margin-right: 4px;
          margin-left: 4px;
        }
      }
    }
  }
  .digi-logo {
    width: 30rem;
    height: 100px;
    position: absolute;
    top: 20rem;
    @include breakpoint(xs) {
      width: 20rem;
      top: 10rem;
    }
  }
  .hero-stripe-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2; // animation: stripe-fadein 2s ease-out 1s forwards;
    // transform: translateY(-80px);
    .hero-stripe {
      background-color: $color-black;
      position: absolute;
      bottom: -100vw;
      left: 0;
      right: 0;
      height: 100vw;
      &.hero-stripe-1 {
        transform: skewY(-14deg);
      }
      &.hero-stripe-2 {
        transform: skewY(14deg);
      }
    }
  }
}

.main-hero-spacer {
  margin-top: $hero-height;
}

@keyframes stripe-fadein {
  from {
    transform: translateY(-80px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes herotext_fadein {
  0% {
    opacity: 0;
    transform: translateY(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
