$hero-height: 100vh;
.main-hero {
  width:100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: black;
  height: calc(100vh + 200px);
  overflow: hidden;

  .hero-background-image {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    background-attachment: fixed;
    
  }

  .hero-text-wrapper {
    height:140vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin-top: -200px;
    .hero-text-container {
      width: 720px;
      color: white;
      line-height: 1;
      text-align: center;
      h1 {
        font-size: 70px;
        font-weight: 800;
      }

      p {
        font-weight: 500;
        font-size: 24px;
        width: 520px;
        margin: 0 auto;
        margin-top: 1rem;
      }
    }
  }

}

@media only screen and (max-width: 600px){
  $hero-height: 100vh;
  .main-hero {
    width:70%;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    height: calc(100vh + 200px);
    overflow: hidden;
  
    .hero-background-image {
      position: absolute;
      z-index: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: center;
      background-size: cover;
      opacity: 0.4;
      background-attachment: fixed;
      
    }
  
    .hero-text-wrapper {
      height:140vh;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      margin-top: -200px;
      .hero-text-container {
        width: 720px;
        color: white;
        line-height: 1;
        text-align: center;
        h1 {
          font-size: 70px;
          font-weight: 800;
        }
  
        p {
          font-weight: 500;
          font-size: 24px;
          width: 520px;
          margin: 0 auto;
          margin-top: 1rem;
        }
      }
    }
  
  }
  
}