.osaamo {
  width: 40%;
  margin: 0 auto;
  padding: 5rem 0;
  padding-bottom: 0;
  text-align: center;
  @include breakpoint(xs) {
    width: 90%;
    margin-right: 8px;
    margin-left: 8px;
    text-align: center;
  }
  @include breakpoint(sm) {
    width: 70%;
    font-size: 1.2rem;
  }
  @include breakpoint(md) {
    width: 70%;
  }
}
