@import 'breakpoints';
.stripeblock-start {
  position: relative;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 100px 0;
  padding-top: 100px;
  /*These remove the 1px gap between stripeblocks in tablet view. Might not be needed
    @include breakpoint(lg) {
        padding-top: 101px;
    }
    @include breakpoint(md) {
        padding-top: 103px;
    }
    @include breakpoint(sm) {
        padding-top: 101px;
    }
    */
  .stripe-block-stripe-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    z-index: 2;
    height: -50vh;
    .stripe-block-stripe {
      position: absolute;
      bottom: -100vw;
      left: 0;
      right: 0;
      height: 100vw;
      &.stripe-block-stripe-1 {
        transform: skewY(-6deg);
      }
      &.stripe-block-stripe-2 {
        transform: skewY(6deg);
      }
    }
  }
  &.black-to-white {
    .stripe-block-stripe {
      background-color: $color-black;
    }
  }
  &.gray-to-white {
    .stripe-block-stripe {
      background-color: $color-darkgray;
    }
  }
  &.lightgray-to-lightgray {
    .stripe-block-stripe {
      background-color: $color-lightgray;
    }
  }
}

.stripeblock-end {
  position: relative;
  overflow: hidden;
  grid-column-start: 1;
  grid-column-end: 4;
  padding: 70px 0;
  .stripe-block-stripe-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    height: -50vh;
    .stripe-block-stripe {
      position: absolute;
      bottom: -100vw;
      left: 0;
      right: 0;
      height: 101vw;
      &.stripe-block-stripe-1 {
        transform: skewY(-6deg);
      }
      &.stripe-block-stripe-2 {
        transform: skewY(6deg);
      }
    }
  }
  &.black-to-white {
    .stripe-block-stripe {
      background-color: $color-darkgray;
    }
  }
  &.gray-to-white {
    .stripe-block-stripe {
      background-color: $color-darkgray;
    }
  }
  &.lightgray-to-gray {
    background-color: $color-darkgray;
    z-index: -1;
    .stripe-block-stripe {
      background-color: $color-lightgray;
    }
  }
}

.stripe-block {
  &.black-to-white {
    background-color: $color-darkgray;
    color: $color-background-color;
    .stripe-block-stripe {
      background-color: $color-background-color;
    }
  }
  &.gray-to-white {
    background-color: $color-darkgray;
    color: $color-background-color;
  }
  &.white-to-black {
    background-color: $color-background-color;
    color: $color-black;
    .stripe-block-stripe {
      background-color: $color-darkgray;
    }
  }
  &.gray-to-lightgray {
    background-color: $color-lightgray;
    .stripe-block-stripe {
      background-color: $color-lightgray;
    }
  }
}

.stripe-block {
  grid-column-start: 1;
  grid-column-end: 4;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 30vh;
  @include breakpoint(xs) {
    height: 45vh;
  }
  .stripe-block-content-wrapper {
    width: $main-section-width;
    margin-bottom: 45px;
    z-index: 3;
    @include breakpoint(xs) {
      font-size: 0.9rem;
      padding: 1rem;
    }
  }
  .stripe-block-stripe-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
    bottom: 0;
    z-index: 2;
    .stripe-block-stripe {
      background-color: $color-background-color;
      position: absolute;
      bottom: -100vw;
      left: 0;
      right: 0;
      height: 100vw;
      @include breakpoint(xs) {
      }
      &.stripe-block-stripe-1 {
        transform: skewY(-6deg);
      }
      &.stripe-block-stripe-2 {
        transform: skewY(6deg);
      }
      &.stripe-block-stripe-3 {
        transform: skewY(0deg);
      }
    }
  }
}

.leader-block {
  padding-top: 4rem;
  padding-bottom: 4rem;
  height: auto;
  background-color: $color-lightgray;
}

.job-block {
  background-color: $color-lightgray;
  height: auto;
}
