.team-blocks-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @include breakpoint(xs) {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
}

.team-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include breakpoint(xs) {
  }
  @include breakpoint(sm) {
    display: flex;
    margin: 5%;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
  }
  .team-thumbnail-container {
    width: 10rem;
    height: 10rem;
    background-color: dt-color('foreground');
    position: relative;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.2rem;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
    transform: rotate(45deg);
    overflow: hidden;
    @include breakpoint(md) {
      margin: auto;
      width: 8rem;
      height: 8rem;
      text-align: center;
    }
    @include breakpoint(sm) {
      margin: auto;
      width: 8rem;
      height: 8rem;
      text-align: center;
    }
    @include breakpoint(xs) {
      height: 12rem;
      width: 12rem;
      align-items: center;
      margin: auto;
    }
    div {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-position: center;
      background-size: cover;
      transform: rotate(-45deg) scale(1.4);
    }
  }
  .team-text-container {
    flex: 1;
    @include breakpoint(sm) {
    }
    @include breakpoint(xs) {
    }
    .team-link {
      text-decoration: none;
      color: black;
    }
    h3 {
      font-size: 1.5rem;
      font-weight: 800;
      line-height: 1;
      text-transform: uppercase;
      margin-top: 3rem;
      @include breakpoint(sm) {
        padding-top: 0.5rem;
        padding-bottom: 0.5em;
        text-align: center;
      }
      @include breakpoint(xs) {
        margin: 0.6rem;
        text-align: center;
        padding-top: 2.6rem;
        padding-bottom: 0;
      }
    }
  }
}

.team-cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  .team-btn-a {
    display: block;
    background-color: dt-color('primary');
    color: white;
    padding: 0 2rem;
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    font-size: 1.5rem;
    &:hover {
      opacity: 0.8;
    }
    @include breakpoint(md) {
      align-items: center;
    }
  }
}
