.contact-blocks-grid {
  display: grid;
  grid-template-columns: 340px 340px;
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 0.5rem;
  column-gap: 6rem;
  padding-top: 100px;
  @include breakpoint(md) {
    column-gap: 4rem;
  }
  @include breakpoint(sm) {
    column-gap: 1rem;
  }
  @include breakpoint(xs) {
    grid-template-columns: 1fr;
  }
}
