.contact-blocks-grid {
  display: grid;
  grid-template-columns: 340px 340px;
  grid-template-rows: auto;
  justify-content: center;
  grid-gap: 0.5rem;
  /*align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; */
  padding-top: 100px;
  @include breakpoint(xs) {
    grid-template-columns: 1fr;
  }
}
