.department-container {
  display: grid;
  grid-column-start: 2;
  padding-top: 100px;
  margin-left: 10px;
  margin-right: 10px;
  @include breakpoint(md) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @include breakpoint(sm) {
    margin-left: 30px;
    margin-right: 30px;
  }
  @include breakpoint(xs) {
    padding-top: 40px;
    padding-bottom: 0px;
    margin: 0;
    grid-column-start: 1;
    width: 80%;
    justify-self: center;
  }
  @include breakpoint(lg) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.button-con {
  display: flex;
  width: 100%;
  margin: auto;
  padding-top: 70px;
  padding-bottom: 40px;
  grid-row-start: 2;
  grid-column-start: 2;
  justify-content: center;
  align-content: center;
  @include breakpoint(sm) {
    margin: auto;
    grid-gap: 20px;
  }
  @include breakpoint(xs) {
    grid-template-columns: 1fr;
    grid-column-start: 1;
    width: 50%;
    padding-top: 20px;
    align-content: center;
    justify-content: center;
    grid-gap: 10px;
    flex-direction: column;
  }
  .dep-button {
    width: 15%;
    height: 40px;
    display: inline-block;
    text-align: center;
    background-color: $color-darkgray;
    color: white;
    padding: 10px;
    margin: 20px;
    font-size: 1.2rem;
    &:hover {
      background-color: rgba($color-darkgray, 0.8);
    }
    @include breakpoint(md) {
      text-align: center;
    }
    @include breakpoint(xs) {
      width: 25vh;
      height: 5vh;
      margin: 0px;
      position: relative;
      padding: 7px;
      font-size: 1rem;
      margin-top: 20px;
    }
  }
}
