.company-intro {
  height: 700px;

  .company-intro-content {
    display: grid;
    grid-template-columns: 1fr ;
   
    .company-intro-text {
      line-height: 1.7;
      h1 {
        margin-bottom: 1.5rem;
      }
      .button-container {
        margin-top: 2rem;
        .company-intro-button {
          background-color: #00924d;
          color: white;
          padding: 0.6rem 4rem;
          vertical-align: text-top;
          line-height: 1;
        }
      }
    }
  }



  .company-intro-graphic-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  
    img {
      max-width: 66%;
    }
    
  }
}

.our-teams-header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 6rem 0;
  position: relative;
  top:40vh;
}

.read-more-teams-wrapper {
  width: $main-section-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  .read-more-teams {
    text-align: center;
    padding: 8rem 0;
    h2 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 2rem;
      color:white;
    }
  }
}
.partners{
  background-color: white;
  width:100%;
  height:50vh;
 
}
.testtest{
  padding-top:100px;
  padding-bottom:100px;
}
body{
  height:100%;
  width:100%;
}
.testbox{
  width:100px;
  height:100px;
  background-color:black;
  display:grid;
  grid-row-start:2;
grid-row-end:3;
}
.testbox1{
  width:100px;
  height:100px;
  background-color:pink;
  display:grid;
  grid-row-start:3;
grid-row-end:3;
}


@media only screen and (max-width: 600px){
  .testtest{
    padding-top:100px;
    padding-bottom:100px;
    width:330px;
    padding-left:40px;
   
  }

  body{
    width:100%;
  }

}