@import 'breakpoints';
.company-intro {
  height: 700px;
  .company-intro-content {
    display: grid;
    grid-template-columns: 1fr;
    .company-intro-text {
      line-height: 1.7;
      h1 {
        margin-bottom: 1.5rem;
      }
      .button-container {
        margin-top: 2rem;
        .company-intro-button {
          color: $color-white;
          padding: 0.6rem 4rem;
          vertical-align: text-top;
          line-height: 1;
        }
      }
    }
  }
  .company-intro-graphic-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      max-width: 66%;
    }
  }
}

.row-bg {
  color: white;
  font-size: 2rem;
}

.fa-angle-right {
}

.company-presentation {
  padding-top: 100px;
  text-align: center;
  font-size: 1.2rem;
  @include breakpoint(sm) {
    margin-right: 0.6rem;
    margin-left: 0.6rem;
  }
  @include breakpoint(xs) {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
}

.our-teams-header {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  padding: 4rem 0;
  @include breakpoint(xs) {
    font-size: 2rem;
    padding: 3rem 0;
  }
}

.read-more-teams-wrapper {
  width: $main-section-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  .read-more-teams {
    text-align: center;
    padding: 8rem 0;
    h2 {
      text-transform: uppercase;
      font-weight: 800;
      font-size: 2rem;
    }
  }
}

.address {
  grid-column-start: 2;
  justify-self: center;
  font-size: 1.9rem;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  @include breakpoint(sm) {
    font-size: 2.2rem;
  }
  @include breakpoint(xs) {
    grid-column-start: 1;
    font-size: 1.2rem;
  }
}

#map {
  height: 500px;
  margin-top: 0 !important;
}

.partners {
  /*container for Partner logos */
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 1.6rem;
  @include breakpoint(xs) {
    padding-bottom: 0px;
    grid-column-start: 1;
    padding-top: 0px;
  }
}

.partners-images {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  @include breakpoint(md) {
    width: 100%;
    a {
      .partner-logo {
        display: block;
        flex: 1;
        margin: 0;
      }
    }
  }
  @include breakpoint(xs) {
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    margin-bottom: 2rem;
    &:not(:last-of-type) {
      margin-right: 2rem;
      @include breakpoint(xs) {
        margin-right: 0rem;
      }
    }
    &:hover {
      opacity: 0.8;
    }
    .partner-logo {
      max-height: 100px;
      display: inline-block;
      background-size: contain;
      background-position: center;
      @include breakpoint(xs) {
        transform: scale(1);
      }
    }
  }
}
