// css reset
@import '~nanoreset';

// config and variables
@import './config.scss';
@import './fonts.scss';
@import './colors.scss';

// pages
@import './home.scss';

// components
@import './components/base.scss';
@import './components/header.scss';
@import './components/stripeblock.scss';
@import './components/mainhero.scss';
@import './components/content.scss';
@import './components/button.scss';
@import './components/wysiwyg.scss';
@import './components/teamblock.scss';
@import './components/leaderblock.scss';
@import './components/job-accordion.scss';
@import './components/footer.scss';
@import './components/breakpoints.scss';
@import './components/osaamo.scss';
@import './pages/department.scss';
@import './components/cubes.scss';
html {
  font-size: 17px;
  overflow-y: auto;
}

a {
  text-decoration: none;
}

.elementor-widget-button a.elementor-button,
.elementor-widget-button .elementor-button {
  background-color: yellow;
}
