{% extends "base.twig" %}

{% block hero %}
    {% include "components/mainhero.twig" with { text: post.get_field('hero_description') }%}
{% endblock %}

{% block content %}

    <div class="department-container">
        <h2>{{post.get_field("Heading")}}
        </h2>
        <p>
            {{post.get_field("Department_intro")}}
        </p>
    </div>
    <div class="button-con">
        <button class="dep-button">Ota yhteyttä</button>
        <button onclick="location.href='http://localhost/wordpress1/index.php/tyopaikat/'" class="dep-button">Työpaikat</button>
    </div>
    {% embed "components/stripeblock-start.twig" with { style: "lightgray-to-lightgray" }%}{% endembed %}
    {% embed "components/stripeblock.twig" with { style: "gray-to-lightgray", class: "job-block "} %}
        {% block stripecontent %}
            <div class="cube-grid">
                <div class="cube1">

                    <i class="fa fa-play cubecon" aria-hidden="true"></i>

                </div>
                <div class="cube2"></div>
                <div class="cube3"></div>
                <div class="cube4"></div>
                <div class="cube5"></div>
                <div class="cube6"></div>
                <div class="cube7"></div>
                <div class="cube8"></div>

            </div>
        {% endblock %}
    {% endembed %}

</div>

{% endblock %}