{% extends "base.twig" %}

{% block hero %}
    {% include "components/mainhero.twig" with { text: post.get_field('hero_description') }%}
{% endblock %}

{% block content %}
    <body class="department-body">
        <div class="department-container">

            <h3>
                <b>{{post.get_field("department_heading")}}</b>
            </h3>

            <p>
                {{post.get_field("department_intro")}}
            </p>
        </div>

    </body>

{% endblock %}