Copyright {{"now"|date('Y')}}

  <div class="navfoot-container">
    {% include "footermenu.twig" with {'menu': menu.get_items} %}
    {% include "components/site-logo.twig" with {
      home_link: site.url,
      logo_size_width: 58,
      logo_size_height: 60
    } %}
  </div>