<div class="navfoot-container">
    {% include "nav-menu.twig" with {
        'footer_menu' : footer_menu.get_items
    } %}
    <div class="social-container">

        <p class="follow-us">
            seuraa meitä:</p>
        <div class="social-icons">

            <a href="https://www.facebook.com/digitalentshelsinki/">
                <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/digitalentshki?lang=en">
                <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/digitalentshelsinki/?hl=en">
                <i class="fa fa-instagram"></i>
            </a>
        </div>
    </div>
    <div class="stadi-con">

        <img class="stadi-logo" src="{{stadi_logo}}"/>

    </div>
    <div class="address-footer">
        <p>
            Lapinlahdenkatu 16, <br> 00180 HELSINKI
            <br>
            <br>
            
            PL 18402, 00099 <br> Helsingin kaupunki
        </p>
    </div>
    <div class="copy">
        <span>Copyright ©</span>
        <span>{{"now"|date('Y')}}</span>
        <span>Digitalents Helsinki</span>
    </div>
</div>