<div class="navfoot-container">
    {% if site.language == "fi" %}
        {% include "nav-menu.twig" with {
        'footer_menu' : footer_menu.get_items
    } %}
    {% elseif site.language == "en-US" %}
        {% include "nav-menu.twig" with {
        'footer_menu' : footer_menu_en.get_items
    } %}

    {% else  %}
        {% include "nav-menu.twig" with {
        'footer_menu' : footer_menu_sv.get_items
    } %}
    {% endif %}
    <div class="social-container">

        <div class="social-icons">

            {% include "components/social-icons.twig"  %}
        </div>
        <p class="hashtag">#DIGITALENTSHKI
        </p>
    </div>
    <div class="stadi-con">

        <img class="stadi-logo" src="{{stadi_logo}}"/>

    </div>
    <div class="address-footer">
        <p>
            Lapinlahdenkatu 16,
            <br>
            00180 HELSINKI
            <br>
            <br>

            PL 18402, 00099
            <br>
            Helsingin kaupunki
        </p>
    </div>
    <div class="copy">
        <span>Copyright ©</span>
        <span>{{"now"|date('Y')}}</span>
        <span>Digitalents Helsinki</span>
    </div>
</div>