Copyright
{{"now"|date('Y')}}

<div class="navfoot-container">
    {% include "menu.twig" with {
        'menu' : menu.get_items
    } %}
    {% include "components/site-logo.twig" with {
      home_link: site.url,
      logo_size_width: 58,
      logo_size_height: 60
    } %}
</div>
<div class="social-icons">
    <a href="https://www.facebook.com/digitalentshelsinki/">
        <i class="fa fa-facebook"></i>
    </a>
    <a href="https://twitter.com/digitalentshki?lang=en">
        <i class="fa fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com/digitalentshelsinki/?hl=en">
        <i class="fa fa-instagram"></i>
    </a>

</div>