{% extends "base.twig" %}
{% set more_body_class = 'jobs' %}

{% block hero %}
    {% include "components/mainhero.twig" with { text: post.get_field('hero_description') }%}
{% endblock %}

{% block content %}

    <body class="department-body">
        <div class="department-container">
            <h3>
                <b>{{post.get_field("jobs")}}</b>
            </h3>
            <p>
                {{post.get_field("jobs_intro")}}
            </p>
        </div>
        {% embed "components/stripeblock-start.twig" with { style: "lightgray-to-lightgray" }%}{% endembed %}
        {% embed "components/stripeblock.twig" with { style: "gray-to-lightgray", class: "job-block "} %}
            {% block stripecontent %}
                <section class="job-listing block">
                    {% for job in post.get_field('jobs_list') %}

                        {% if job.hideshow[0] != "Hide" %}
                            {% embed "components/job-accordion.twig" with { jobTitle: job.job_title } %}
                                {# accordion#}
                                {% block jobDescription %}
                                    {# job desc block #}
                                    {{job.job_desc}}
                                {% endblock %}
                                {# job desc block end#}
                            {% endembed %}
                            {# accordion end #}
                        {% endif %}
                    {% endfor %}
                </section>
            {% endblock %}
        {% endembed %}
    {% endblock %}