{% extends "base.twig" %}
{% set more_body_class = 'jobs' %}

{% block hero %}
    {% include "components/mainhero.twig" with { text: post.get_field('hero_description') }%}
{% endblock %}

{% block content %}

    <body class="department-body">
        <div class="job-container">
            <h3>
                <b>{{post.get_field("jobs")}}</b>
            </h3>
            <p>
                {{post.get_field("jobs_intro")}}
            </p>

        </div>
        {% embed "components/stripeblock-start.twig" with { style: "lightgray-to-lightgray" }%}{% endembed %}
        {% embed "components/stripeblock.twig" with { style: "gray-to-lightgray", class: "job-block "} %}
            {% block stripecontent %}
                <h1 class="job-list-heading">
                    {{post.get_field('job_list_heading')}}</h1>
                <div class="job-grid">

                    {% for item in post.get_field('jobs_list') %}
                        {% include "components/job-list.twig" with {
                         job_title : item.job_title,
                         job_desc: item.job_desc
       
            } %}

                    {% endfor %}
                </div>
                {# <section class="job-listing block">
                    {% for job in post.get_field('jobs_list') %}

                        {% if job.hideshow[0] != "Hide" %}
                            {% embed "components/job-accordion.twig" with { jobTitle: job.job_title } %}
                               
                                {% block jobDescription %}
                                    
                                    {{job.job_desc}}
                                {% endblock %}
                             
                            {% endembed %}
                          
                        {% endif %}
                    {% endfor %}
                </section> #}
            {% endblock %}
        {% endembed %}
    {% endblock %}