{% if menu %}
<nav id="site-navigation" class="main-navigation">
<button class="menu-toggle">Menu</button> 
	<ul class="menu-list">
	{% for item in menu %}
		<li class="{{ item.classes | join(' ') }}">
			<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			{% include "menu.twig" with {'menu': item.get_children} %}
		</li>
	{% endfor %}
	</ul>
	</nav>
{% endif %}
