<div id="close" class="gdpr-pop">
    <p class="gdpr-text">Hello, we use cookies on this site, please accept</p>
    <button class="gdpr-button" onclick="document.getElementById('close').style.display='none'">
        I accept
    </button>
</div>