<div id="close" class="gdpr-pop">
    <p class="gdpr-text">We take your information and sell it, fuck you</p>
    <button class="gdpr-button" onclick="document.getElementById('close').style.display='none'">
        We cool
    </button>
</div>