<header class="header">
  <div class="logo-container">
    {% include "components/site-logo.twig" with {
      home_link: site.url,
      logo_size_width: 38,
      logo_size_height: 40
    } %}
  </div>
  <a href="{{site.url}}">
    <div class="header-text">Digitalents</div>
  </a>
  <div class="nav-container ">
    {% include "menu.twig" with {
      'menu' : menu.get_items,
      'is_children' : false
    } %}
  </div>
  <!-- <div class="some-container"> Some stuff here </div> -->
</header>
<!-- {{page_title}} beb -->
<!-- <a class="hdr-logo-link" href="{{site.url}}" rel="home">{{site.name}}</a> -->