<div class="leader-box">
<div class="leader-thumb-container">
<div class="leader-thumbnail"
style="background-image: url('{{leader_thumbnail}}')"
>
</div>
</div>
<div class="leader-text">
<h3> {{leader_title}}</h3>
<p>{{leader_desc}} </p>
</div>
</div>
