<div class="main-hero" aria-hidden="true">
    {% if fn('is_front_page') %}

        <div class="hero-background-image" style="background-image:url('{{post.thumbnail.src}}')"></div>
        <div class="hero-text-wrapper">

            <h1 class="hero-text-container">
                {{text}}

            </h1>
        </div>
    {% else %}
        <div class="hero-background-image" style="background-image:url('{{post.thumbnail.src}}')"></div>
        <div class="hero-text-wrapper">

            <h1 class="hero-text-container">
                {{text}}
            </h1>
        </div>
    {% endif %}
    {# <div class="hero-stripe-container">
    <div class="hero-stripe hero-stripe-1"></div>
    <div class="hero-stripe hero-stripe-2"></div>
  </div> #}
</div>