<div class="main-hero" aria-hidden="true">
    <div class="hero-background-image" style="background-image:url('{{post.thumbnail.src}}')"></div>
    <div class="hero-text-wrapper">
        <div class="hero-text-container">
            {{text}}
        </div>
    </div>
    {# <div class="hero-stripe-container">
    <div class="hero-stripe hero-stripe-1"></div>
    <div class="hero-stripe hero-stripe-2"></div>
  </div> #}
</div>