<div class="stripe-block {{style}} {{class}}">
  <div class="stripe-block-content-wrapper {{wrapperclass}}">
    {% block newcontent %}
      {# Conten here #}
    {% endblock %}
  </div>
  <div class="stripe-block-stripe-container">
    <div class="stripe-block-stripe stripe-block-stripe-1"></div>
    <div class="stripe-block-stripe stripe-block-stripe-2"></div>
  </div> 
</div>