<div class="logo-container" style="height:{{logo_size_height}}px; width:{{logo_size_width}}px;">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 698.64 142.65">
    <defs>
        <style>.cls-1{fill:#fff;}
        </style>
    </defs>
    <title>Asset 2
    </title><g id="Layer_2" data-name="Layer 2">
    <g id="Layer_1-2" data-name="Layer 1">
    <path class="cls-1" d="M211.93,58.54a31,31,0,0,1-9.23,22.12,31.28,31.28,0,0,1-22.21,9.14H165.54V43.34h7.69V82.12h7.26a23.62,23.62,0,1,0,0-47.24H165.54V27.19h14.95a31.35,31.35,0,0,1,31.44,31.35Z"/>
    <path class="cls-1" d="M233.2,89.8h-7.69V27.19h7.69Z"/>
    <path class="cls-1" d="M256.94,47.69a23.11,23.11,0,0,0-2.65,10.85,23.63,23.63,0,0,0,23.58,23.58h11.28V62.38H271.72V54.7h25V89.8H277.87a31.23,31.23,0,0,1-22.12-9.14A31.52,31.52,0,0,1,251,42.48a33.12,33.12,0,0,1,4.78-6.15,31.23,31.23,0,0,1,22.12-9.14h19v7.69h-19a24.68,24.68,0,0,0-6.66.94A23.82,23.82,0,0,0,256.94,47.69Z"/>
    <path class="cls-1" d="M322.74,89.8h-7.69V27.19h7.69Z"/>
    <path class="cls-1" d="M378.38,34.88h-41.6V27.19h41.6ZM361.64,89.8H354V42.57h7.69Z"/>
    <path class="cls-1" d="M487.31,82.12V89.8h-41.6V27.19h7.69V82.12Z"/>
    <path class="cls-1" d="M505.93,34.88V54.7H523.1v7.69H505.93V82.12h33.91V89.8h-41.6V27.19h41.6v7.69Z"/>
    <path class="cls-1" d="M598.19,27.19V89.8l-7.69-8.46L552.06,38.72V27.19L590.5,69.9V27.19Zm-46.13,23,7.69,8.54V89.8h-7.69Z"/>
    <path class="cls-1" d="M650.63,34.88H609V27.19h41.6ZM633.89,89.8H626.2V42.57h7.69Z"/>
    <path class="cls-1" d="M677.45,34.88a9.77,9.77,0,0,0-9.82,9.82v.17a9.83,9.83,0,0,0,9.82,9.83h3.76a18.07,18.07,0,0,1,10.94,3.84,17.35,17.35,0,0,1,6.49,13.58v.17A17.46,17.46,0,0,1,681.21,89.8H659.95V82.12h21.27A9.77,9.77,0,0,0,691,72.29v-.17a9.83,9.83,0,0,0-9.82-9.82h-4.1a17.44,17.44,0,0,1-17.17-17.43V44.7a17.53,17.53,0,0,1,17.51-17.51h21.19v7.69Z"/>
    <polygon class="cls-1" points="428.03 89.8 436.48 89.8 415.9 45.47 411.71 54.52 417.42 66.87 397.44 66.87 407.44 45.38 411.71 36.33 407.44 27.19 403.25 36.33 378.31 89.8 386.77 89.8 393.86 74.56 420.98 74.56 428.03 89.8"/>
    <rect class="cls-1" x="41.08" y="86.16" width="63.49" height="14.51" transform="translate(-44.73 78.86) rotate(-45)"/>
    <path class="cls-1" d="M87.4,42.57s0-.08,0-.12l42.42,42.42,10.26-10.26L78.61,13.13,65.49,0,55.23,10.26,68.36,23.39c.45.45.86.92,1.26,1.4,5.09,6.18,5.6,14.6,2.75,23.27C70.62,53.35,67,58.14,62.54,62.63,55.69,69.48,47.39,73.41,39.71,74c-6.2.45-12-1.28-16.32-5.61l-2.87-2.87L55.16,30.85,44.9,20.59h0L0,65.49,10.26,75.75h0l2.87,2.87c7.08,7.08,17.1,10,28.29,8.95,12.21-1.1,22-6.79,30.62-15.43A56.75,56.75,0,0,0,82.37,58.06,49.22,49.22,0,0,0,87.4,42.57Z"/>
    <path class="cls-1" d="M345.5,142.23V129.1H332.37v13.13h-5V111.56h5v13.13H345.5V111.56h5v30.67Z"/><path class="cls-1" d="M367.7,115.85v8.84h12V129h-12v9h13.6v4.27H362.78V111.56h17.9v4.29Z"/>
    <path class="cls-1" d="M410.12,138v4.25h-18V111.56h5V138Z"/>
    <path class="cls-1" d="M438.26,115.25l-3.09,3.09a9.62,9.62,0,0,0-6.69-2.84c-3.31,0-5.5,1.88-5.5,3.94s1.9,3,4.68,3.94l4.88,1.59c3.65,1.21,7.16,4,7.16,8.66,0,5.1-5.3,9-11.39,9-4.85,0-9.53-2.13-11.92-5.53l3.09-3.09a11.14,11.14,0,0,0,8.93,4.23c3.76,0,6.46-2,6.46-4.43,0-2.57-2.08-4-5.1-5l-5-1.59c-3.4-1.1-6.58-3.56-6.58-7.72,0-4.83,4.38-8.41,10.22-8.41A13.57,13.57,0,0,1,438.26,115.25Z"/>
    <path class="cls-1" d="M449.37,142.23V111.56h5v30.67Z"/><path class="cls-1" d="M486,142.23l-14.67-23.67v23.67H466.6V111.56h6.08l14.7,24v-24h4.76v30.67Z"/>
    <path class="cls-1" d="M509.37,128.27v14h-5V111.56h5v12.5l12.55-12.5h5.86l-14.27,14.27,16.37,16.4h-6.53Z"/><path class="cls-1" d="M537.84,142.23V111.56h5v30.67Z"/></g></g></svg>

</div>