{% embed "components/stripeblock-start.twig" with { style: style }%}{% endembed %}
{% embed "components/stripeblock.twig" with {
  style : style,
  class: class,
  wrapperclass: wrapperclass
} %}
  {% block stripecontent %}
    <div class="wysiwyg-text-container company-intro-text">
      {{post.get_field('company_intro').text}}
      <div class="button-container">
        <a class="button company-intro-button" href="{{post.get_field('company_intro').call_to_action.button_url}}">
          {{post.get_field('company_intro').call_to_action.button_text}}
        </a>
      </div>
    </div>
    <div class="company-intro-graphic-wrapper">
      <img src="{{post.get_field('company_intro').background_image}}"></img>
    </div>
  {% endblock %}
{% endembed %}