<div class="stripeblock-start {{style}}">
  <div class="stripe-block-stripe-container">
    <div class="stripe-block-stripe stripe-block-stripe-1"></div>
    <div class="stripe-block-stripe stripe-block-stripe-2"></div>
  </div>
</div>