<div class="team-block">
    <div class="team-thumbnail-container">
        <div class="team-thumbnail" style="background-image: url('{{team_thumbnail}}')"></div>
    </div>
    <div class="team-text-container">
        <h3>
            <a class="team-link" href="{{team_url}}">{{team_title}}</a>
        </h3>

    </div>

</div>